.info_list {
    display: flex;
}
.info_list > li {
    padding: 0vw 0.5vw;
}
.main_news {
    padding: 1vw 3vw;
    display: flex;
}
.main_news_conteiner {
    position: relative;
    width: 60vw;
    height: 35vw;
    overflow: hidden;
    color: white;
}
.bg-main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover; 
    z-index: 1;
}
h1, p {
    position: relative;
    z-index: 2;
    margin: 0;
}
.text-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 20px 20px;
    color: white;
}

.additionally_main_news_info {
    display: flex;
}
.additionally_main_news_info_list {
    display: flex;
    flex-direction: column;
}
.twoGlavNews {
    display: flex;
    flex-direction: column;
}
.twoGlavNews > a > img {
    width: 30vw;
}
.oldGlavNews {
    display: flex;
    flex-direction: column;
}
.news_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 1vw 3vw;
    width: 100%;
    margin: 0 auto;
}
.category {
    padding: 0vw 3vw;
}
.news_conteiner {
    margin: 5px;
    background-color: black;
}
.image_news_conteiner > a > img {
    width: 100%;
    border-radius: 0px;
}
.info_news_conteiner {
    padding: 0px 10px;
}
.title_news > h1 {
    padding-bottom: 10px;
}
.expand-btn {
    color: #0066cc;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
}
.admin_buttons {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.hr_additionally {
    border: none; 
    background-color: #ffffff; 
    width: 3px;
    border-radius: 10px;
    height: 100%; 
    margin: 0 auto;
    margin: 0vw 2vw;
}
hr {
    width: 100%;
}
.news_category {
    padding: 5px;
    margin-bottom: 10px;
    background-color: brown;
}
.category {
    display: flex;
}
.category > h1 {
    background-color: brown;
    padding: 5px 10px;
    width: 40vw;
}
